:root{
    --csk: #F9CD05;
    --ddd: #00008B;
    --kxib: #ED1B24; 
    --kkr:  #2E0854;
    --mi: #004BA0;
    --rr: #254AA5;
    --rcb: #2B2A29;
    --shr: #FF822A;
    --primary-font-color: rgb(224, 214, 214);
}



body{
    margin: 0;
    padding: 0;
    font-family: 'Aldrich', sans-serif;
}
nav{
    width: 100%;
    height: 70px;
    color: #fff;
    background-color: rgb(232, 232, 232);
    display: flex;
    justify-content: space-between;
}
nav img{
    height: 70px;
}

.card{
    position: relative;
	height: auto;
    background: #fff;
    text-align: center;
	width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 5px;
}

.card h3{
    color: #fff;
}
.card h5{
    color: rgb(233, 224, 224);
    letter-spacing: 1px;
}
.team_header_data .trophies,
.card span{
    background-color: #03070e69;
    width: auto;
    padding: 5px 15px;
    color: #f3d861;
    border-radius: 20px;
    font-size: 12px;
}

i{
    margin-right: 5px;
}

.card.csk{
    background-image: linear-gradient(175deg, var(--csk), #ffae00);
}

.card.dd{
    background-image: linear-gradient(45deg, var(--ddd), #01014d);
}
.card.kxp{
    background-image: linear-gradient(45deg, var(--kxib), #ed1b6b);
}
.card.kkr{
    background-image: linear-gradient(45deg, var(--kkr), #160854);
}
.card.mi{
    background-image: linear-gradient(45deg, var(--mi), #0033a0);
}
.card.rr{
    background-image: linear-gradient(45deg, var(--rr), #0022e4);
}
.card.rcb{
    background-image: linear-gradient(45deg, var(--rcb), #1b1a19);
}
.card.srh{
    background-image: linear-gradient(45deg, var(--shr), #ad4902);
}

#team_banner .layer.csk{
    background-color: rgba(249, 205, 5, .7);
}
#team_banner .layer.dd{
    background-color: rgba(0, 0, 139, .7);
}
#team_banner .layer.kxp{
    background-color: rgba(237, 27, 36, .7);
}
#team_banner .layer.kkr{
    background-color: rgba(46, 8, 84, .7);
}
#team_banner .layer.mi{
    background-color: rgba(0, 75, 160, .7);
}
#team_banner .layer.rr{
    background-color: rgba(37, 74, 165, .7);
}
#team_banner .layer.rcb{
    background-color: rgba(43, 42, 41, .7);
}
#team_banner .layer.srh{
    background-color: rgba(255, 130, 42, .7);
}

/* Grid system initializations */
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 10%;
}


/* Mobile Style */

.grid{
    padding: 5px;
}

.col:nth-child(1),
    .col:nth-child(2),
    .col:nth-child(3),
    .col:nth-child(4),
    .col:nth-child(5),
    .col:nth-child(6),
    .col:nth-child(7),
    .col:nth-child(8),
    .col:nth-child(9),
    .col:nth-child(10),
    .col:nth-child(11){
        grid-column: 1/13;
}

/* Home styles */
.card_view{
    display: flex;
    justify-content: space-between;
}

.team-data{
    display: flex;
}

.card img{
    width: 60px;
    height: 60px;
}

.team_name{
    margin-left: 10px;
    text-align: left;
}

h5{
    margin: 5px;
}
.team_name p{
    font-size: 12px;
    color: rgb(241, 234, 234);
    display: none;
}

.card_view a{
    height: 100%;
    display: block;
    text-decoration: none;
    padding: 16px 5px;
    color: #fff ;
}

/* Team styles */
#team_banner{
    text-align: center;
    background-image: url(../assets/images/winners.png);
    background-size: cover;
}
#team_banner .layer{
    padding-bottom: 20px;
}
#team_banner .team_header_data h5{
    font-size: 20px;
    color: var(--primary-font-color);
}
#team_banner .additional_data{
    display: none;
}
.card-body{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}
.card-body h5,
.card-body h3{
    color: rgb(59, 58, 58);
}
.card-body h3{
    margin: 1px;
    font-size: 14px;
}
.player_data span{
    background-color: #fff;
    color: rgb(87, 84, 84);
}
.player_stats{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.player_stats span{
    color: #111;
    background-color: #fff;
}

.card .no-trophy{
    background-color: rgba(255, 255, 255, 0);
}

.profile_image img{
    width: 200px;
    height: 210px;
}

.icon_container{
    position: absolute;
    top: 10px;
    color: #fff;
}
/* Desktop View */

@media screen and (min-width: 960px){
    .col:nth-child(1){
        grid-column: 1/4;
    }
    .col:nth-child(2){
        grid-column: 4/7;
    }
    .col:nth-child(3){
        grid-column: 7/10;
    }
    .col:nth-child(4){
        grid-column: 10/13;
    }
    
    .col:nth-child(5){
        grid-column: 1/4;
    }
    .col:nth-child(6){
        grid-column: 4/7;
    }
    .col:nth-child(7){
        grid-column: 7/10;
    }
    .col:nth-child(8){
        grid-column: 10/13;
    }

    .col:nth-child(9){
        grid-column: 1/4;
    }
    .col:nth-child(10){
        grid-column: 4/7;
    }
    .col:nth-child(11){
        grid-column: 7/10;
    }
    .col:nth-child(12){
        grid-column: 10/13;
    }

    .grid{
        padding: 2% 10%;
    }
    .col{
        margin-right: 5px;
    }
    .card_view{
        display: initial;
    }
    
    .team-data{
        display: initial;
    }
    .team-data img{
        width: 100px;
        height: 100px;
    }
    
    .team_name{
        margin-left: 10px;
        text-align: center;
    }
    .team_name p{
        display: block;
    }
    .card h5{
        font-size: 18px;
    }

    /* Team view */
    .banner_data{
        display: flex;
    }
    #team_banner .additional_data{
        display: flex;
        margin-top: 20px;
    }
    #team_banner .additional_data .left_data{
        margin-right: 50px;
    }
    #team_banner .additional_data .label{
        margin-right: 20px;
        color: var(--primary-font-color);
        font-size: 14px;
    }
    #team_banner .additional_data .value{
        font-weight: 600;
        color: var(--primary-font-color);
        font-size: 14px;
    }

    #team_banner .layer{
        padding: 50px;
    }
    #team_banner .layer .team_header_data{
        text-align: left;
        padding-left: 20px;
    }
    #team_banner .layer .team_header_data h5{
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 25px;
    }
    #team_banner{
        display: flex;
    }
    #team_banner .layer{
        width: 70%;
    }
    #team_banner .angled_div{
        width: 30%;
        border-left: 100px solid rgb(99, 171, 238);
        border-bottom: 300px solid transparent;
    }
}



/* Loader */

#loader{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75px, -75px);
}

#loader .circle1{
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 50%;
    border: 5px solid #f3f3f3;
    border-left: 5px solid #00008B;
    border-right: 5px solid #00008B;
    animation: spin 1s linear infinite;
}
#loader .circle2{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 35px;
    left: 30px;
    border-radius: 50%;
    border: 5px solid #f3f3f3;
    transform: translate(-80px, -80px);;
    border-top: 5px solid #ED1B24;
    border-bottom: 5px solid #ED1B24;
    animation: reversespin 1s linear infinite;
}
#loader .circle3{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 45px;
    left: 40px;
    border-radius: 50%;
    border: 5px solid #f3f3f3;
    border-left: 5px solid #2cfa03;
    border-right: 5px solid #2cfa03;
    animation: spin 1s linear infinite;
}

#loader .circle4{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 55px;
    left: 50px;
    border-radius: 50%;
    border: 5px solid #f3f3f3;
    transform: translate(-80px, -80px);;
    border-top: 5px solid #00d3f8;
    border-bottom: 5px solid #00d3f8;
    animation: reversespin 1s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes reversespin{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}