<div id="container"></div>

<!-- <div class="grid" id='teams'>
    <div class="col">
        <div class="card csk">
            <div class="logo_container">
                <img src="./assets/logos/Chennai-Super-Kings-Logo-PNG.png">
            </div>
            <h3 class="team_name">Chennai Super Kings</h3>
            <h5 class="venue">M. A. Chidambaram Stadium</h5>
            <div>
                <span class="trophies"><i class="fa fa-trophy"></i> 2010, 2011, 2018</span>
            </div>
            <a href="#chennai-super-kings">View Team</a>
        </div>
    </div>


    <div class="col">
        <div class="card dd">
            <div class="logo_container">
                <img src="./assets/logos/Delhi-Daredevils-Logo-PNG.png">
            </div>
            <h3>Delhi Capitals</h3>
            <h5>Feroz Shah Kotla Ground</h5>
            <span class="no-trophy"></span>
            <a href="#delhi-capitals">View Team</a>
        </div>
    </div>


    <div class="col">
        <div class="card kxp">
            <div class="logo_container">
                <img src="./assets/logos/Kings-XI-Punjab-Logo-PNG.png">
            </div>
            <h3>Kings XI Punjab</h3>
            <h5>IS Bindra Stadium</h5>
            <span class="no-trophy"></span>
            <a href="#kings-xi-punjab">View Team</a>
        </div>
    </div>

    <div class="col">
        <div class="card kkr">
            <div class="logo_container">
                <img src="./assets/logos/Kolkata-Knight-Riders-Logo-PNG.png">
            </div>
            <h3>Kolkata Knight Riders</h3>
            <h5>Eden Gardens</h5>
            <span><i class="fa fa-trophy"></i> 2012, 2014</span>
            <a href="#kolkata-knight-riders">View Team</a>
        </div>
    </div>

    <div class="col">
        <div class="card mi">
            <div class="logo_container">
                <img src="./assets/logos/Mumbai-Indians-Logo-PNG.png">
            </div>
            <h3>Mumbai Indians</h3>
            <h5>Wankhede Stadium</h5>
            <span><i class="fa fa-trophy"></i> 2013, 2015, 2017, 2019</span>
            <a href="#mumbai-indians">View Team</a>
        </div>
    </div>

    <div class="col">
        <div class="card rr">
            <div class="logo_container">
                <img src="./assets/logos/Rajasthan-Royals-Logo-PNG.png">
            </div>
            <h3>Rajasthan Royals</h3>
            <h5>Sawai Mansingh Stadium</h5>
            <span><i class="fa fa-trophy"></i> 2008</span>
            <a href="#rajasthan-royals">View Team</a>
        </div>
    </div>



    <div class="col">
        <div class="card rcb">
            <div class="logo_container">
                <img src="./assets/logos/Royal-Challengers-Bangalore-Logo-PNG.png">
            </div>
            <h3>Royal Challengers Bangalore</h3>
            <h5>M. Chinnaswamy Stadium</h5>
            <span class="no-trophy"></span>
            <a href="#royal-challengers-bangalore">View Team</a>
        </div>
    </div>

    <div class="col">
        <div class="card srh">
            <div class="logo_container">
                <img src="./assets/logos/Sun-Risers-Logo-PNG.png">
            </div>
            <h3>Sunrisers Hyderabad</h3>
            <h5>Rajiv Gandhi Intl. Cricket Stadium</h5>
            <span><i class="fa fa-trophy"></i> 2016</span>
            <a href="#sunrisers-hyderabad">View Team</a>
        </div>
    </div>

</div> -->