<div id="team_banner">
    <div class="layer" id='team_layer'>
        <br><br>
        <div class="logo_container">
            <img src="../assets/logos/Chennai-Super-Kings-Logo-PNG.png" width="200" id='team_logo'>
        </div>
        <div class="content">
            <h1 id="title">Hello</h1>
            <span class="trophy"><i class="fa fa-trophy">2019</i></span>
            <span class="prop">Venue:</span>
            <span class="value" id="team_venue">Rajiv Gandhi Stadium</span>
            <span class="prop">Captain:</span>
            <span class="value" id='team_cap'>MS Dhoni</span>
        </div>
    </div>
</div>

<div id="profiles_container">
    <!-- <div class="grid" id='teams'>
        <div class="col">
            <div class="card csk">
                <div class="image_container">
                    <div class="icons">
                        <i class="fa fa-copyright captain"></i>
                        <i class="fa fa-plane foreign"></i>
                        <i class="fa fa-wikipedia-w keeper"></i>
                    </div>
                    <img src="https://iplstatic.s3.amazonaws.com/players/210/1.png">
                </div>
                <div class="content">
                    <h5 class="venue">Mahendra singh</h5>
                    <h3 class="team_name">Dhoni</h3>
                    <span>IPL 2009</span>
                    <div class="stats">
                        <div class="item">
                            <h3>9</h3>
                            <span>Matches</span>
                        </div>
                        <div class="item">
                            <h3>100</h3>
                            <span>Runs</span>
                        </div>
                        <div class="item">
                            <h3>19</h3>
                            <span>Wickets</span>
                        </div>
                    </div>
                </div>
                <a>View Profile</a>
            </div>
        </div>
    </div> -->
</div> 