<div class="container">
    <div id='team_banner'>
        <div id="team_layer" class="layer">
            <div class="banner_data">
                <div class="logo">
                    <img id="team_logo" src="./assets/logos/mi.png">
                </div>
                <div class="team_header_data">
                    <h5 id="title">Mumbai Indians</h5>
                    <span id="winning_years" class="trophies">
                        <i class="fa fa-trophy" id="win-trophy"></i>
                    </span>
                    <div class="additional_data">
                        <div class="left_data">
                            <span class="label">Venue</span>
                            <span id="team_venue" class="value"></span>
                        </div>
                        <div class="right_data">
                            <span class="label">Captain</span>
                            <span id="team_cap" class="value"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="angled_div"></div>
    </div>


    <div id="profiles_container">
        
    </div>


</div>